* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 99vmax;
  border: 4px solid #ffffff;
}

::-webkit-scrollbar-track {
  /* background: #111; */
  background: transparent;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
    url("./assets/kissbg.jpg");
  background-size: 100% 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: sans-serif;
}
.box {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.549);
  width: 500px;
  padding: 50px;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  border: 5px solid white;
  box-shadow: 5px -5px greenyellow;
  justify-content: space-between;
  position: relative;
  /* height: 78vh; */
  /* transform: scale(0.88); */
}
.box h2 {
  padding-bottom: 0.5rem;
  border-bottom: 5px solid white;
  font-weight: 400;
  margin-bottom: 1rem;
}
.box h1 {
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
}

#randomBtn span,
.box button span {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.box button,
#randomBtn {
  margin-top: 2rem;
  background: #143e27;

  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 800; */
}

#logo {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  filter: drop-shadow(5px -5px 10px rgb(0, 255, 229));
}

/* .box img {
  width: 100%;
  margin: 1rem auto 0 auto;
  box-shadow: 5px -5px orchid;
  border-radius: 10px;
  max-width: 500px;
} */
/* .box a {
  width: 100%;
  text-align: end;
} */
/* body > div > div > a:nth-child(5) {
  margin-bottom: 5rem;
} */

.song {
  display: none;
  margin-top: 2rem;
}

.song h1 {
  text-align: initial;
}

.song img {
  width: 100%;
  margin: 1rem auto;
  border-radius: 15px;
  height: 292.5px;
}
/* 
.linkImg {
  width: 25px;
} */

.song a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  /* justify-content: space-between; */
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: bold;
  filter: grayscale(1);
}

.song a:hover {
  filter: none;
  transition: all 0.2s ease;
}

.controls {
  display: flex;

  justify-content: space-between;
  /* width: 90%; */
  /* position: absolute;
  left: 2rem;
  bottom: 1rem; */
  margin-top: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
}
.control-icon {
  /* position: absolute;
  left: 50px;
  bottom: 20px; */
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  margin-right: 1rem;
}
#youtube-icon {
  all: unset;
  height: 65px;
  width: 65px;
  margin-left: 1rem;
}

#equ {
  /* all: unset; */
  height: 2.8rem;
  /* position: absolute;
  bottom: 22px;
  left: 130px; */
  display: none;
}

.spin {
  animation: rotate 0.5s ease;
}

#spinner {
  all: unset;
  width: 220px;
  margin: 0 auto;
  height: 220px;
  margin-bottom: 4rem;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.outter-box {
  position: relative;
}

#cat {
  /* position: absolute;
  bottom: 6px;
  right: 40px; */
  width: 130px;
  transform: rotate(5deg);
}

.fav-wrapper {
  border: 5px solid white;
  box-shadow: 5px -5px greenyellow;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.549);
}
.fav-wrapper > h1 {
  text-align: center;
  width: 100%;
  font-weight: 800;
}

.favBox {
  margin: 1rem;
  /* border: 5px solid white; */
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 500px;
}

.favItem {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 5px solid white;
  padding-left: 0.5rem;
  height: fit-content;
}

.favItem p {
  width: 17ch;
}

.favItem > p:nth-child(1) {
  font-weight: bold;
}

.favItem img {
  margin: 0.25rem 0;
  width: 100px;
  border-radius: 20px;
}

.favItem a {
  color: inherit;
  text-decoration: none;
}
.favItem span {
  margin-right: 0.5rem;
  color: #f70000;
}

.space {
  padding: 1rem;
  /* height: 80vh; */
}

@media screen and (max-width: 768px) {
  body {
    /* padding-top: 40px; */
    -webkit-tap-highlight-color: transparent;
    flex-direction: column-reverse;
  }
  .box {
    margin: 2rem 1rem 1rem 1rem;
    width: auto;
    padding: 30px;
    order: 1;
  }

  .fav-wrapper {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  .favBox {
    grid-template-columns: repeat(1, 1fr);
    width: 250px;
  }
  /* .control-icon {
    bottom: 40px;
  } */
  /* #equ {
    bottom: 40px;
  } */
  /* #logo {
    margin-bottom: 1.4rem;
  } */

  /* #cat {
    bottom: 25px;
    width: 130px;
  } */
  .song img {
    height: auto;
  }
}
/* 
@media screen and (max-width: 355px) {
  #cat {
    bottom: 30px;
    width: 100px;
  }
} */
